<div class="ui equal width center aligned padded grid">
  <div class="row">
    <div class="black column">
      <header-comp></header-comp>
    </div>
  </div>
</div>
<div>
  <content-comp></content-comp>
</div>